.idea/
__pycache__/
data/
.vscode/
output/

cl_means
map_whole10
net_incr1_of_10
net_incr2_of_10
net_incr3_of_10
test.ipynb
top1_acc_list_cumul_icarl_cl10
top1_acc_list_ori_icarl_cl10


losses_and_time.csv
map_list_cumul_icarl_cl10
map_list_cumul_icarl_cl10 (1)
metrics.csv
plot_result.py
top1_acc_list_cumul_icarl_cl10 (1)


losses_corrdist.csv
metrics_corrdist.csv
time_corrdist.csv

*.csv
*net*
*.pth
*interme*